header {
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 2rem;
}

.middle {
    align-items: center;
    display: flex;
    gap: 0.5rem;
}

nav {
    background-color: var(--primary-background);
    border: 2px solid var(--secondary-button);
    padding: 0.6rem 0.8rem;
    border-radius: 50px;
    width: fit-content;
    display: flex;
    gap: 0.5rem;

    a {
        background-color: var(--primary-button);
        padding: 0.8rem 2rem;
        border-radius: 50px;
        display: block;

        &.active {
            background-color: var(--secondary-button);
        }
    }
}

#profile, .placeholder {
    aspect-ratio: 1 / 1;
    display: block;
    height: 65px;
}

#profile {
    background-color: var(--primary-background);
    border: 2px solid var(--secondary-button);
    border-radius: 50%;
}

#add {
    background-color: var(--primary-background);
    border: 2px solid var(--secondary-button);
    color: hsl(0, 0%, 90%);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    text-align: center;
    line-height: 55px;
    font-size: 2rem;
    height: 65px;
}