header {
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 2rem;
}

.middle {
    align-items: center;
    display: flex;
    gap: 0.5rem;
}

nav {
    background-color: var(--secondary-background);
    border: 1px solid var(--primary-button);
    padding: 0.6rem 0.8rem;
    border-radius: 50px;
    width: fit-content;
    display: flex;
    gap: 0.5rem;

    a {
        background-color: var(--primary-button);
        padding: 0.8rem 2rem;
        border-radius: 50px;
        display: block;

        &.active,
        &:hover {
            background-color: var(--primary-button-hover);
        }
    }
}

#profile, .placeholder {
    aspect-ratio: 1 / 1;
    display: block;
    height: 65px;
}

#profile {
    position: relative;

    &:hover .profile-icon {
        background-color: var(--primary-button-hover);
    }

    &:hover .username {
        display: initial;
    }

    * {
        height: inherit;
    }

    .username {
        background-color: var(--secondary-background);
        border-radius: 65px;
        position: absolute;
        overflow: hidden;
        padding: 20px;
        display: none;
        width: 250px;
        z-index: 1;
        right: 0;

        p {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            width: 150px;
        }
    }

    .profile-icon {
        background-color: var(--primary-button);
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        position: absolute;
        z-index: 2;
        right: 0;
    }
}

#add {
    background-color: var(--primary-button);
    font-family: inherit;
    padding-bottom: 6px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    font-weight: 100;
    font-size: 2rem;
    height: 65px;
    border: none;

    &:hover {
        background-color: var(--primary-button-hover);
    }
}