<div class="root">
    <app-header (buttonNew)="buttonNew()"></app-header>
    <main>
        <div class="franchises">
            @if (isLoading()) {
                <p>Trying to retrieve watchlist...</p>
            }

            @for (franchise of franchises(); track franchise.id) {
                <button class="franchise" (click)="selectFranchise(franchise)">
                    <div class="image">
                        <img [src]="franchise.image ?? 'https://static.thenounproject.com/png/3376954-200.png'" alt="">
                    </div>
                    <p>{{ franchise.name }}</p>
                </button>
            }
        </div>
        <div [class]="`selected-franchise-container${franchise() !== undefined ? '' : ' closed'}`">
            <div class="selected-franchise">
                <div class="selected-header">
                    <h2>{{ franchise()?.name }}</h2>
                    <button (click)="closeFranchise()">close</button>
                </div>
            </div>
        </div>
    </main>
</div>
@if (isCreateFranchiseOpen()) {
    <div class="modal">
        <app-new-franchise (close)="toggleCreateFranchise($event)"></app-new-franchise>
    </div>
}

@if (isCreateSerieOpen()) {
    <div class="modal">
        <app-new-serie [franchise_id]="franchise()?.id" (close)="toggleCreateSerie()"></app-new-serie>
    </div>
}