<div class="root">
    <app-header (buttonNew)="buttonNew()"></app-header>
    <main>
        <div class="franchises">
            @if (!franchise()) {
                @if (isLoading()) {
                    <p>Trying to retrieve watchlist...</p>
                }
                @else if (!franchises().length) {
                    <p>No franchises found.</p>
                }

                @for (franchise of franchises(); track franchise.id) {
                    <button class="franchise" (click)="selectFranchise(franchise)">
                        <div class="image">
                            <img [src]="franchise.image ?? 'https://static.thenounproject.com/png/3376954-200.png'" alt="">
                        </div>
                        <p>{{ franchise.name }}</p>
                    </button>
                }
            }
            @else {
                @if (isLoading()) {
                    <p>Trying to retrieve series...</p>
                }
                @else if (!series().length) {
                    <p>No series found.</p>
                }

                @for (serie of series(); track serie.id) {
                    <button class="franchise" (click)="selectSerie(serie)">
                        <div class="image">
                            <img [src]="serie.image ?? 'https://static.thenounproject.com/png/3376954-200.png'" alt="">
                        </div>
                        <p>{{ serie.name }}</p>
                    </button>
                }
            }
        </div>
        @if (serie() === undefined) {
            <app-selected-item type="Franchise" [item]="franchise()" (close)="closeFranchise()" (updateFranchise)="updateFranchise($event)"></app-selected-item>
        }
        @else {
            <app-selected-item type="Serie" [franchise_id]="franchise()?.id" [item]="serie()" [episodes]="episodes()" (close)="closeSerie()" (updateSerie)="updateSerie($event)" (updateEpisode)="updateEpisode($event)"></app-selected-item>
        }
    </main>
</div>

@if (isCreateFranchiseOpen()) {
    <div class="modal">
        <app-new-franchise (close)="toggleCreateFranchise($event)"></app-new-franchise>
    </div>
}

@if (isCreateSerieOpen()) {
    <div class="modal">
        <app-new-serie [franchise_id]="franchise()?.id" (close)="toggleCreateSerie($event)"></app-new-serie>
    </div>
}