<div class="root">
    <form class="login" [formGroup]="group" (ngSubmit)="register()">
        <div>
            <label for="username">Username</label>
            <input class="input" id="username" type="text" formControlName="username">
            @if (error().username) {
                <p class="error">{{ error().username }}</p>
            }
        </div>
        <div>
            <label for="email">Email</label>
            <input class="input" id="email" type="email" formControlName="email">
            @if (error().email) {
                <p class="error">{{ error().email }}</p>
            }
        </div>
        <div>
            <label for="password">Password</label>
            <input class="input" id="password" type="password" formControlName="password">
            @if (error().password) {
                <p class="error">{{ error().password }}</p>
            }
        </div>
        <div class="actions">
            <input class="action" type="submit" value="Register">
            <a class="action" routerLink="/login">Login</a>
        </div>
    </form>
</div>