<div class="root">
    <form class="login" [formGroup]="formGroup.group" (ngSubmit)="create()">
        <div>
            <label for="name">Name</label>
            <input class="input" id="name" type="text" formControlName="name">
            <validation-formgroup-error [errors]="formGroup.errors()['name']"></validation-formgroup-error>
        </div>
        <div class="actions">
            <button class="action" type="submit" [disabled]="isLoading()">+</button>
            <button class="action" type="button" (click)="close.emit(undefined)">X</button>
        </div>
    </form>
</div>