<div class="root">
    <app-header></app-header>
    <main>
        <form class="login" [formGroup]="formGroup.group" (ngSubmit)="submit($event)">
        <div>
            <label for="name">Name</label>
            <input class="input" id="name" type="text" formControlName="name">
            <validation-formgroup-error [errors]="formGroup.errors()['name']"></validation-formgroup-error>
        </div>
        <div>
            <label for="index">Index</label>
            <input class="input" id="index" type="number" min="1" formControlName="index">
            <validation-formgroup-error [errors]="formGroup.errors()['name']"></validation-formgroup-error>
        </div>
        <div class="actions">
            <input class="action" type="submit" value="Update" [disabled]="isLoading()">
            <input class="action" type="submit" value="Delete" [disabled]="isLoading()">
        </div>
    </form>
    </main>
</div>