.root {
    background-color: var(--primary-background);
    flex-direction: column;
    min-height: 100vh;
    display: flex;
}

main {
    flex-direction: column;
    align-items: center;
    display: flex;
    padding: 1rem;
    gap: 1rem;
}

.post {
    background-color: var(--secondary-background);
    border: 1px solid var(--primary-button);
    width: clamp(200px, 100%, 600px);
    border-radius: 0.4rem;
    overflow: hidden;
    height: 200px;
    display: flex;
}

.profile {
    background-color: var(--secondary-background);
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    height: 100%;
    padding: 5px;
}

.profile-icon {
    background-color: var(--primary-background);
    border: 1px solid var(--primary-button);
    margin-bottom: 0.2rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    height: 80px;
}

.follow-button {
    background-color: var(--primary-background);
    border: 1px solid var(--primary-button);
    text-transform: uppercase;
    padding: 0.2rem 0.1rem;
    border-radius: 0.2rem;
    font-size: 0.7rem;
    width: 100%;
}

.follow-button.followed {
    background-color: var(--secondary-background);
}

.follow-button:hover {
    background-color: var(--primary-button);
}

.username {
    font-weight: bold;
}

.date-shared {
    max-width: calc(91.11px - 11px);
    font-size: 0.6rem;
}

.content {
    justify-content: space-between;
    padding: 1rem;
    display: flex;
    flex: 1;
}

.cover {
    border-radius: 0.4rem;
    place-items: center;
    overflow: hidden;
    display: grid;
}

.cover img {
    object-fit: contain;
    height: 8rem;
    width: 100%;
}

.title {
    font-size: 1.4rem;
}