<div class="root">
    <form class="login" [formGroup]="group" (ngSubmit)="login()">
        <div>
            <label for="email">Email</label>
            <input class="input" id="email" type="email" formControlName="email">
            @if (error().email) {
                <p class="error">{{ error().email }}</p>
            }
        </div>
        <div>
            <label for="password">Password</label>
            <input class="input" id="password" type="password" formControlName="password">
            @if (error().password) {
                <p class="error">{{ error().password }}</p>
            }
        </div>
        <div class="actions">
            <input class="action" type="submit" value="Login">
            <a class="action" routerLink="/register">Register</a>
        </div>
    </form>
</div>