:root {
    --primary-background: hsl(150, 100%, 98%);
    --secondary-background: hsl(150, 100%, 95%);

    --primary-button: hsl(150, 100%, 93%);
    --primary-button-hover: hsl(150, 100%, 90%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

a,
button {
    cursor: pointer;
}

.error {
    font-size: 0.8rem;
    color: red;
}