<div class="root">
    <form class="login" [formGroup]="formGroup.group" (ngSubmit)="edit()">
        <div>
            <label for="name">Name</label>
            <input class="input" id="name" type="text" formControlName="name">
            <validation-formgroup-error [errors]="formGroup.errors()['name']"></validation-formgroup-error>
        </div>
        @if (this.serie()?.type == "serie") {
            <div>
                <label for="season">Season</label>
                <input class="input" id="season" type="number" min="1" formControlName="season">
                <validation-formgroup-error [errors]="formGroup.errors()['season']"></validation-formgroup-error>
            </div>
        }
        <div>
            <label for="done">Done Watching?</label>
            <input class="input" id="done" type="checkbox" formControlName="done">
            <validation-formgroup-error [errors]="formGroup.errors()['done']"></validation-formgroup-error>
        </div>
        @if (!this.serie()?.image) {
            <div>
                <label for="image">Image</label>
                <input class="input" id="image" type="file" (change)="onFileChange($event)">
                <validation-formgroup-error [errors]="formGroup.errors()['file']"></validation-formgroup-error>
            </div>
        }
        <div>
            <label for="index">Index</label>
            <input class="input" id="index" type="number" min="1" formControlName="index">
            <validation-formgroup-error [errors]="formGroup.errors()['index']"></validation-formgroup-error>
        </div>
        <div class="actions">
            <button class="action" type="submit" [disabled]="isLoading()">
                <img src="/edit-icon.png" alt="Edit">
            </button>
            <button class="action" type="button" (click)="close.emit(undefined)">X</button>
        </div>
    </form>
</div>