<div [class]="`selected-item-container${item() !== undefined ? '' : ' closed'}`">
    <div class="selected-item">
        <div class="selected-actions">
            <button class="selected-action" (click)="openItem()">
                <img src="/edit-icon.png" alt="Edit">
            </button>
            <button class="selected-action" (click)="close.emit()">X</button>
        </div>
        <div class="selected-header">
            <h2>{{ item()?.name }}</h2>
        </div>
        <div class="selected-main">
            @for (episode of episodes() ?? []; track episode.id) {
                <button [class]="`selected-episode${episode.done ? ' watched' : ''}`" (click)="openEpisode(episode)">
                    {{ `EP${episode.index.toString().padStart(3, '0')}` }}
                </button>
            }
        </div>
    </div>
</div>

@if (isEditItemOpen()) {
    <div class="modal">
        @if (type() == 'Franchise') {
            <app-edit-franchise [franchise]="itemAsFranchise()" (close)="closeItem($event)"></app-edit-franchise>
        }
        @else if (type() == 'Serie') {
            <app-edit-serie [franchise_id]="this.franchise_id()" [serie]="itemAsSerie()" (close)="closeItem($event)"></app-edit-serie>
        }
    </div>
}

@if (isEditEpisodeOpen()) {
    <div class="modal">
        <app-edit-episode [episode]="episode()" [serie_id]="item()?.id" (close)="closeEpisode($event)"></app-edit-episode>
    </div>
}