<div [class]="`selected-item-container${item() !== undefined ? '' : ' closed'}`">
    <div class="selected-item">
        <div class="selected-actions">
            @if (type() == 'Serie') {
                <button class="selected-action" (click)="toggleVisibility.emit()">
                    <img [src]="item()?.is_shared ? '/set-to-public-icon.png' : '/set-to-private-icon.png'" alt="Visibility">
                </button>
            }
            <button class="selected-action" (click)="emitDeleteItem()">
                <img src="/delete-icon.png" alt="Delete">
            </button>
            <button class="selected-action" (click)="openItem()">
                <img src="/edit-icon.png" alt="Edit">
            </button>
            <button class="selected-action" (click)="close.emit()">X</button>
        </div>
        <div class="selected-header">
            <h2>{{ item()?.name }}</h2>
            <div class="information">
                <p>Type: {{ getType() }}</p>
                @if (type() == 'Serie') {
                    <p>{{ itemAsSerie().done ? "Finished" : 'Not Finished' }}</p>
                }
            </div>
        </div>
        <div class="selected-main">
            @if (type() == 'Serie' && itemAsSerie().type == 'serie') {
                <div class="selected-main-header">
                    <h2>Episodes</h2>
                    <div class="selected-actions" (click)="createEpisode.emit()">
                        <button class="selected-action">+</button>
                    </div>
                </div>
            }
            <div class="episodes">
                @for (episode of episodes() ?? []; track episode.id) {
                    <button [class]="`selected-episode${episode.done ? ' watched' : ''}`" (click)="openEpisode(episode)">
                        {{ `EP${episode.index.toString().padStart(3, '0')}` }}
                    </button>
                }
            </div>
        </div>
    </div>
</div>

@if (isEditItemOpen()) {
    <div class="modal">
        @if (type() == 'Franchise') {
            <app-edit-franchise [franchise]="itemAsFranchise()" (close)="closeItem($event)"></app-edit-franchise>
        }
        @else if (type() == 'Serie') {
            <app-edit-serie [franchise_id]="this.franchise_id()" [serie]="itemAsSerie()" (close)="closeItem($event)"></app-edit-serie>
        }
    </div>
}

@if (isEditEpisodeOpen()) {
    <div class="modal">
        <app-edit-episode [episode]="episode()" [serie_id]="item()?.id" (close)="closeEpisode($event)" (closeAndDelete)="emitDeleteEpisode()"></app-edit-episode>
    </div>
}